@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    Our product which is an app called “Music Works” is intended to help users of any age find the most popular songs of the decade of their choosing. Users can find the songs that they are most interested in in a more categorized way in which people can easily browse the music selection at their own pace and select which songs were the most popular throughout the decades. Our product will be revolutionary, and users will be able find the most popular songs

    of each decade. The decades of your choosing will include 60s, 70s, 80s, 90s, and all the way up to the current hits of 2021
</p>
