@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Isaac Watts<br />
    1 John Marshall Dr, Huntington, WV 25755<br />
    watts206@live.marshall.edu
</address>

<address>
    Ethan Tabata<br />
    1 John Marshall Dr, Huntington, WV 25755<br />
    tabata@live.marshall.edu
</address>

<address>
    Colin Galvez<br />
    1 John Marshall Dr, Huntington, WV 25755<br />
    galvez2@live.marshall.edu
</address>

<address>
    William Mbagwu<br />
    1 John Marshall Dr, Huntington, WV 25755<br />
    mbagwu@live.marshall.edu
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@musicworks.com">Support@musicworks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@musicworks.com">Marketing@musicworks.com</a>
</address>