@{
    ViewBag.Title = "Home Page";
}



<head>
    <link rel="stylesheet" href="https:\\cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<h1 style="color: mediumpurple; font-size:90px; font-family:'Arial Rounded MT'">Music Works</h1>

<div class="input-wrapper">
    <h1 style="margin-left: 20px; color: 5D008C; font-size: 32px; font-family: 'Arial Rounded MT' ">Search by: </h1>
</div>

<details style="margin-left: 35px;">
    <summary style="color: #5D008C; font-size: 24px; font-family: 'Arial Rounded MT' ">Genre</summary>
    <div class="fa fa-search"></div>
    <input type="text" placeholder="Search">
</details>

<details style="margin-left: 35px;">
    <div class="fa fa-search"></div>
    <summary style="color: #5D008C; font-size: 24px; font-family: 'Arial Rounded MT' ">Artist</summary>
    <input type="text" placeholder="Search">
</details>

<details style="margin-left: 35px;">
    <summary style="color: #5D008C; font-size: 24px; font-family: 'Arial Rounded MT' ">Decade</summary>
    <div class="fa fa-search"></div>
    <input type="text" placeholder="Search">
</details>

<details style="margin-left: 35px;">
    <summary style="color: #5D008C; font-size: 24px; font-family: 'Arial Rounded MT' ">Song</summary>
    <div class="fa fa-search"></div>
    <input type="text" placeholder="Search">
</details>

